<style>
* {

  box-sizing: border-box;
}

body
{
    margin: 0px;
    padding: 0px;
}

.tital
{
  font-weight: normal;
  font-weight: bold;
  font-weight: 900;
}

.hello
{
  width: 100%;
}
.animate__bounce
{
  letter-spacing: 4px;
  margin-left: 40%;
}
.parallax-window {
    height: 750px;
    background: transparent;
     width: 100%;
     margin-left: 0px;
     margin-right: 0px;
 -

}
.parallax-window h1
{
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
    color: white;
}
.navbar
{
  padding-top: 30px;
  justify-content: space-between;
  background-color:rgb(13, 13, 13,0.6);
}
.navbar h2
{
  padding-left: 50px;
  color: white;
}
.navbar h5
{
  font-size: 22px;
  letter-spacing: 2px;
}

.vl
{

  border-left: 3px solid white;
  height: 35px;


}


.card_tital
{
    text-align: center;
}

.ripple img
{
  
  border-radius: 50%;
}
.carousel
{
  height: 500px;
  text-align: center;

}
.carousel-inner img 
{
    width: 100%;
    height: 100%;
}
.navbar-collapse h5
{
  color: white;
}
.navbar-collapse h5:hover
{
   font-weight: normal;
  font-weight: bold;
  font-weight: 900;
  color: white;
}

@media screen and (max-width:770px){
    .banner-text h1 {
        
        font-size: 44px;
    }
    .banner-btn a {
        display: block;
        margin: 20px auto;
    }

}



/*----  Main Style  ----*/
#cards_landscape_wrap-2{
  text-align: center;
  background: #F7F7F7;
}
#cards_landscape_wrap-2 .container{
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  -webkit-transition:all .9s ease; 
  -moz-transition:all .9s ease; 
  -o-transition:all .9s ease;
  -ms-transition:all .9s ease; 
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}



.fh5co-bg
{
  background-color: black;
}
.content-main {
  height: 200vh;
}
.fh5co-bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
.fh5co-bg {
  background-size: cover;
  background-position: center center;
  position: relative;
  width: 100%;
  float: left;
}
.fh5co-bg .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.fh5co-bg-section {
  background: rgba(0, 0, 0, 0.05);
}
#fh5co-footer {
  padding: 7em 0;
  clear: both;
}
@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding: 3em 0;
  }
}
#fh5co-footer {
  position: relative;
}
#fh5co-footer .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#fh5co-footer h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-footer .fh5co-footer-links {
  padding: 0;
  margin: 0;
}
#fh5co-footer .fh5co-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-footer .fh5co-footer-links li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
#fh5co-footer .fh5co-footer-links li a:hover {
  text-decoration: underline;
}
#fh5co-footer .fh5co-widget {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-widget {
    text-align: left;
  }
}
#fh5co-footer .fh5co-widget h3 {
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#fh5co-footer .copyright .block {
  display: block;
}
.btn-primary {
  background: #F85A16;
  color: #fff;
  border: 2px solid #F85A16;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #f96c2f !important;
  border-color: #f96c2f !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #F85A16;
  border: 1px solid #F85A16;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #F85A16;
  color: #fff;
}
.second_col
{
  text-align: center;
}
.row
{
  width: 100%;
}
.copy
{
  text-align: center;
}


.Servicesbox {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;

}
.singleservices {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
position: relative;
}
.singleservices img {

width: 100%;
border-radius: 7px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#000000);
    opacity: 0;
    transition: 1s;

}
.singleservices:hover .overlay{
    opacity: 1;

}
.service-desc {
    width: 80%;
    position: absolute;
    opacity: 0;

    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
}

.service-desc p{
    font-size: 14px;
}
.singleservices:hover .service-desc{
bottom:40%;
opacity: 1;
}
@media screen and (max-width:770px) {
    .singleservices {
        flex-basis: 100%;
        margin-bottom: 30px;
}
.service-desc p{
    font-size: 12px;
} 
hr{
    margin: 5px auto;

}
.singleservices:hover .service-desc{
    bottom:25% !important ;
  
    }
}




.map_tital
{
  text-align: center;
}




.fas
{
  color: #009933;
  font-size: 30px;
}





footer {
            color: white;
     }
     footer p, a {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}
footer h6:after {
    position: absolute;
    content: "";
    background: white;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}

.logo-part h1
{
    color: orange;
}
     .btn-footer {
                 color: grey;
              
                text-decoration: none;
                border: 1px solid;
                border-radius: 43px;
                font-size: 13px;
                padding: 7px 30px;
                line-height: 47px;
     }
     .btn-footer:hover {
                
                text-decoration: none;
               
     }
    .form-footer input[type="text"] {
        border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;
    
}
::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}
 .form-footer input[type="button"] {
    border: none;
    background:#232323;
        margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}
     .social .fa {
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}
     footer ul li {
    list-style: none;
    display: block;
}
  footer ul  {
   padding-left: 0;
}
footer ul  li a{
  text-decoration: none;
  color: grey;
  text-decoration:none;
}
a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;
    
}
.logo-part
{
    border-right: 1px solid black;
    height: 100%;
}



.animi {
  position: relative;
  background: linear-gradient(277deg, rgba(213, 213, 213, 0.1) 0%, rgba(213, 213, 213, 0.02) 50%,rgba(42, 42, 42, 0.02) 50%, rgba(42, 42, 42, 0.2) 100%),linear-gradient(295deg, rgba(73, 73, 73, 0.3) 0%, rgba(73, 73, 73, 0.1) 50%,rgba(229, 229, 229, 0.1) 50%, rgba(229, 229, 229, 0.03) 100%),linear-gradient(145deg, rgba(77, 77, 77, 0.1) 0%, rgba(77, 77, 77, 0.1) 50%,rgba(123, 123, 123, 0.1) 50%, rgba(123, 123, 123, 0.1) 100%),linear-gradient(54deg, rgba(51, 51, 51, 0.3) 0%, rgba(51, 51, 51, 0.1) 50%,rgba(29, 29, 29, 0.2) 50%, rgba(29, 29, 29, 0.03) 100%),linear-gradient(170deg, rgba(9, 9, 9, 0.02) 0%, rgba(9, 9, 9, 0.02) 50%,rgba(243, 243, 243, 0.02) 50%, rgba(243, 243, 243, 0.02) 100%),linear-gradient(264deg, rgba(214, 214, 214, 0.01) 0%, rgba(214, 214, 214, 0.01) 50%,rgba(153, 153, 153, 0.01) 50%, rgba(153, 153, 153, 0.01) 100%),linear-gradient(90deg, rgb(99, 48, 222),rgb(76, 212, 233));
  padding: 1em 1.5em;
  border: 1px solid black;
  border-radius: 25px 7px;
  color: white;
  text-transform: uppercase;
  letter-spacing: .1em;
  transition: all .7s ease;
  font-size: 13px;
  &:after {
    position: absolute;
    top: 20%;
    left: 50%;
    background: linear-gradient(45deg, rgb(46, 94, 149),rgb(59, 131, 209),rgb(67, 91, 142));
    width: 150px;
    height: 30px;
    content: '';
    transform: translate(-50%);
    border-radius: 25px 7px;
    filter: blur(20px);
    z-index: -1;
  }
  &:hover {
    border-radius: 7px 25px;
    background: linear-gradient(45deg, rgb(239, 7, 129) 0%, rgb(239, 7, 129) 6%,rgb(208, 10, 112) 6%, rgb(208, 10, 112) 25%,rgb(177, 13, 96) 25%, rgb(177, 13, 96) 40%,rgb(147, 16, 79) 40%, rgb(147, 16, 79) 45%,rgb(116, 19, 62) 45%, rgb(116, 19, 62) 53%,rgb(85, 22, 46) 53%, rgb(85, 22, 46) 66%,rgb(54, 25, 29) 66%, rgb(54, 25, 29) 100%);
    letter-spacing: .2em;
    border: 1px solid white;
  }
}




</style>